<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/style.css') }}">
</head>
<body>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit enim delectus, aut tempora iure perspiciatis veritatis earum repellendus nulla optio harum fugiat ut, nemo consequuntur architecto laborum nihil repellat! A.
</body>
</html>